<div class="row m-2 container">
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card" style="cursor: pointer;" (click)="onClick('List of Coffees')">
            <div class="card-body">
                <h5 class="card-title">List of Coffee's</h5>
                <p class="card-text">List all the active coffees.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card" style="cursor: pointer;" (click)="onClick('Add Coffee')">
            <div class="card-body">
                <h5 class="card-title">Add Coffee</h5>
                <p class="card-text">Form to add a new coffee.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card" style="cursor: pointer;" (click)="onClick('Edit/Delete Coffee')">
            <div class="card-body">
                <h5 class="card-title">Edit/Delete Coffee</h5>
                <p class="card-text">Form to edit/delete a coffee.</p>
            </div>
        </div>
    </div>
</div>